<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MY SPORTS</string>
		<key>title</key>
		<string>我的运动</string>
		<key>imgName</key>
		<string>icon-module-sports</string>
        <key>imgNameHighlight</key>
        <string>icon-module-sports-selected</string>
        <key>viewControllerType</key>
		<string>DashboardViewController</string>
	</dict>
    <dict>
        <key>name</key>
        <string>ACHIEVEMENTS</string>
        <key>title</key>
        <string>个人成就</string>
        <key>imgName</key>
        <string>icon-module-achievements</string>
        <key>imgNameHighlight</key>
        <string>icon-module-achievements-selected</string>
        <key>viewControllerType</key>
        <string>MyProfileViewController</string>
    </dict>
	<dict>
		<key>name</key>
		<string>DEVICE MANAGMENT</string>
		<key>title</key>
		<string>设备管理</string>
		<key>imgName</key>
        <string>icon-module-equipment</string>
        <key>imgNameHighlight</key>
        <string>icon-module-equipment-selected</string>
		<key>viewControllerType</key>
		<string>YUDDeviceManagerViewCOntroller</string>
	</dict>
	<!--<dict>-->
		<!--<key>name</key>-->
		<!--<string>EVENTS</string>-->
		<!--<key>title</key>-->
		<!--<string>活动中心</string>-->
		<!--<key>imgName</key>-->
		<!--<string>icon-module-events</string>-->
        <!--<key>imgNameHighlight</key>-->
        <!--<string>icon-module-events-selected</string>-->
        <!--<key>viewControllerType</key>-->
		<!--<string>YUDEventViewController</string>-->
	<!--</dict>-->
	<!--<dict>-->
		<!--<key>name</key>-->
		<!--<string>MESSAGE</string>-->
		<!--<key>title</key>-->
		<!--<string>消息盒子</string>-->
		<!--<key>imgName</key>-->
		<!--<string>icon-module-message</string>-->
        <!--<key>imgNameHighlight</key>-->
        <!--<string>icon-module-message-selected</string>-->
        <!--<key>viewControllerType</key>-->
		<!--<string>YUDMessageViewController</string>-->
	<!--</dict>-->
	<dict>
		<key>name</key>
		<string>STORE</string>
		<key>title</key>
		<string>智能商城</string>
		<key>imgName</key>
		<string>icon-module-store</string>
        <key>imgNameHighlight</key>
        <string>icon-module-store-selected</string>
        <key>viewControllerType</key>
		<string>YUDStoreViewController</string>
	</dict>
    <dict>
        <key>name</key>
        <string>PROFILE</string>
        <key>title</key>
        <string>个人资料</string>
        <key>imgName</key>
        <string>icon-module-profile</string>
        <key>imgNameHighlight</key>
        <string>icon-module-profile-selected</string>
        <key>viewControllerType</key>
        <string>UserDataEditViewController</string>
    </dict>
	<dict>
		<key>name</key>
		<string>SETTING</string>
		<key>title</key>
		<string>设置</string>
		<key>imgName</key>
		<string>icon-module-settings</string>
        <key>imgNameHighlight</key>
        <string>icon-module-settings-selected</string>
        <key>viewControllerType</key>
		<string>SettingsViewController</string>
	</dict>
</array>
</plist>
